@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
:root {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************************
G l o b a l
****************************/
img {
  width: 100%;
}

body {
  position: relative;
}

button {
  padding: 5px 25px;
  border-radius: 12px;
  background: #3a2533;
  color: #e4dfbf;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
}
button:hover, button:focus, button:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

input {
  margin: 0.5em 0 0.5em 0.5em;
  padding: 5px;
  display: block;
}

/****************************
H E A D E R
****************************/
header {
  background-color: #a61375;
  width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 30px 0;
  transition-duration: 0.6s;
  color: #e4dfbf;
}
header .logo {
  margin-left: 0.5em;
}

/****************************
M A I N
****************************/
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
@media screen and (max-width: 526px) {
  .wrapper {
    width: 100%;
  }
}
.wrapper div {
  padding: 0.5em;
}
.wrapper .main {
  color: #e4dfbf;
  margin: 1em auto 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 0 0 62%;
  border: 1px solid rgba(166, 19, 117, 0.88);
}
@media screen and (max-width: 526px) {
  .wrapper .main {
    flex: 0 0 100%;
    justify-content: center;
  }
}
.wrapper .main #employee, .wrapper .main #task {
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
  display: inline-block;
  vertical-align: middle;
  flex: 0 0 42%;
  background: #a61375;
  margin-bottom: 1em;
  text-align: center;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
@media screen and (max-width: 526px) {
  .wrapper .main #employee, .wrapper .main #task {
    flex: 0 0 94%;
    justify-content: center;
  }
}
.wrapper .main #employee:hover, .wrapper .main #employee:focus, .wrapper .main #employee:active, .wrapper .main #task:hover, .wrapper .main #task:focus, .wrapper .main #task:active {
  transform: scale(1.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wrapper .main .modal {
  position: fixed;
  display: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #e4dfbf;
  min-height: 200px;
  background: rgba(58, 37, 51, 0.4);
}
.wrapper .main .modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: left;
}
.wrapper .main .modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  right: 0;
}
.wrapper .main .modal .modal-content .close:hover, .wrapper .main .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.wrapper .main i {
  font-size: 2rem;
  color: #3a2533;
}
.wrapper .main .card {
  flex: 0 0 42%;
  border: 1px solid rgba(166, 19, 117, 0.88);
  background: rgba(58, 37, 51, 0.4);
  padding: 0;
  margin: 0.5em 0;
  border-radius: 8px 8px 8px 8px;
}
.wrapper .main .card .card-header {
  background: #3a2533;
  position: relative;
  border-radius: 8px 8px 0 0;
}
.wrapper .main .card .card-header .close {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  margin: 3px;
  cursor: pointer;
}
.wrapper .main .card .card-header .close:hover, .wrapper .main .card .card-header .close:focus, .wrapper .main .card .card-header .close:active {
  color: rgba(166, 19, 117, 0.9);
  transition: 0.3s ease;
}
.wrapper .main .card h5 {
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 526px) {
  .wrapper .main .card {
    flex: 0 0 48%;
  }
}
.wrapper .main .card .card-body {
  display: flex;
}
.wrapper .main .card .card-body .settings {
  flex: 0 0 5%;
  padding: 0;
  justify-content: center;
}
.wrapper .main .card .card-body .settings span {
  padding: 10px 0;
}
.wrapper .main .card .card-body .settings span:hover, .wrapper .main .card .card-body .settings span:focus, .wrapper .main .card .card-body .settings span:active {
  color: #3a2533;
  transition: 0.3s ease;
}
.wrapper aside {
  flex: 0 0 34%;
  color: #3a2533;
  background: #e4dfbf;
  margin-top: 1em;
  border: 1px solid rgba(166, 19, 117, 0.88);
}
@media screen and (max-width: 526px) {
  .wrapper aside {
    flex: 0 0 100%;
  }
}
.wrapper aside span {
  font-weight: 700;
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */